*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,#root{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #222;
    color: rgb(236, 236, 236);
}