main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container{

    height: fit-content;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    form{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        input,button{
            padding-block: 1rem;
            padding-inline: 1rem;
            border: none;
            outline: none;
            border-radius: 1rem;

        }

        button{
            background-color: rgb(187, 20, 34);
            color: whitesmoke;
        }
    }

    .toggle{
        color: rgba(221, 40, 40, 0.844);
        text-decoration: none;
    }
}

