@mixin flex-col($gap){
      display: flex;
    flex-direction: column;
    gap: $gap;
}
main{
min-height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;

.form-container{
  @include flex-col(1rem);
  min-height: fit-content;
  width: 380px ;
  
form{
    @include flex-col(1rem);


    input,button{
        padding-block: 1.2rem;
        padding-inline: 0.9rem;
        border-radius: 1rem;
        border: none;
        outline: none;
    }
    button{
        background-color: rgba(4, 255, 255, 0.437);
        font-size: 1rem;
        font-weight: bold;
    }
}
a{
    text-decoration: none;
    color: rgba(4, 255, 255, 0.437);
}

}
}