*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,#root{
    width: 100%;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #2b2a2a;
    color: rgb(241, 239, 239);
}